<h1>Add new song</h>

  <%= form_tag :action => "create" do %>
  <p><label for = "song_name">Name</label>:
  <%= text_field 'songs', 'name' %></p>


        <%= submit_tag "Create" %>

      <% end -%>
      <%= link_to 'Back', {:action => 'list'} %>
