<% provide(:title, "Edit Song") %>
<% provide(:button_text, 'Update Song')%>

<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <h1>Editing Song</h1>

    <%= render 'form', song: @song %>

    <%= link_to 'Back', songs_path %>

  </div>
</div>
