<div class="clear"></div>


<p id="notice"><%= notice %></p>


<h1>Songs</h1>

<ul class="songs">
  <%= render @songs %>
</ul>


<br>

<h1>Listen</h1>
<section id="audio" class="player">
  No song is currently playing
</section>
