// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";
#sidebar {
   width: 30%;
   float: right;
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#main {
   width: 70%;
   float: right;
}
a, a:visited {
   color: #00f;
   text-decoration: none;
}
a:hover {
   text-decoration: underline;
}
td {
   padding: 5px;
}
